$darkest: #090b0e;
$darker: #323f4b;
$dark: #3e4c59;
$light: #cbd2d9;
$lighter: #e4e7eb;
$lightest: #f5f7fa;

$color-primary: #359df2;
$color-danger: #dc3545;
$color-ok: rgb(87, 126, 87);
$color-highlight: #f39422;

$dark-gray: #52606d;
$light-gray: #9aa5b1;

$code-color: #ffffff;
$code-background: #1c242b;

/* Blue Grey: Trust, security, and authority… */
/*
$darkest: #102a43;
$darker: #243b53;
$dark: #334e68;
$light: #bcccdc;
$lighter: #d9e2ec;
$lightest: #f0f4f8;

$color-primary: #359df2;
$color-danger: #dc3545;
$color-ok: rgb(87, 126, 87);
$color-highlight: #f39422;

$dark-gray: #486581;
$light-gray: #9fb3c8;

$code-color: #ffffff;
$code-background: #0e1216;
*/

/* Cool Grey: Soothing, peaceful, healing, safe… */
/*
$darkest: #1f2933;
$darker: #323f4b;
$dark: #3e4c59;
$light: #cbd2d9;
$lighter: #e4e7eb;
$lightest: #f5f7fa;

$color-primary: #359df2;
$color-danger: #dc3545;
$color-ok: rgb(87, 126, 87);
$color-highlight: #f39422;

$dark-gray: #52606d;
$light-gray: #9aa5b1;

$code-color: #ffffff;
$code-background: #0e1216;
*/

/* My first theme */
/*
$darkest: #000000;
$darker: #1b262c;
$dark: #0f4c75;
$light: #3282b8;
$lighter: #bbe1fa;
$lightest: #ffffff;

$color-primary: #359df2;
$color-danger: #dc3545;
$color-ok: rgb(87, 126, 87);
$color-highlight: #f39422;

$dark-gray: #525252;
$light-gray: #ececec;

$code-color: #ffffff;
$code-background: #0c2a42;
*/
