@import "colors.scss";

.tagline {
  display: block;
  background-color: $darker;
  width: 100%;
  .tagline--text,
  .tagline--text-bottom {
    display: block;
    font-size: 0.8rem;
    font-family: "VT323", monospace;
    text-align: center;
    padding: 0.3rem 1rem;
    color: $lightest;
    background-color: $color-primary;
  }
  .tagline--text::before,
  .tagline--text-bottom::before {
    content: "> ";
  }
}

@media (min-width: 576px) {
  .tagline {
    .tagline--text,
    .tagline--text-bottom {
      font-size: 1rem;
      display: inline-block;
    }
    .tagline--text {
      border-radius: 0 0 1rem 1rem;
    }
    .tagline--text-bottom {
      border-radius: 1rem 1rem 0 0;
    }
  }
}
